.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.teal{
    background-color: teal;
}

.yellow{
    background-color: yellow;
}

.pink{
    background-color: pink;
}

.purple{
    background-color:purple;
}

.orange{
    background-color:darkorange;
}